body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.keypads {
    display: flex;
    height: 300px;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    flex: 5;
}

.operator {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.specialBtn {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.equal,
.clear{
    flex: 1;       
}

button {
    width: 100px;
}

.display {
    font-size: large;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top: 50px;
}